

body {
  background-image: url("");
  margin: 0;
  position: fixed;
  background-color: blueviolet;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.tray {
  background-color: rgb(44, 37, 37);
  width: 100vw;
  height: 7vh;
  bottom: 0;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 100000;
  *{
    box-sizing: border-box;
  }
}
.tray button {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: rgb(44, 37, 37);
  border: 0;
  cursor: pointer;
}
.tray button table {
  margin: auto;
  height: 100%;
  width: 100%;
}
.tray button table td {
  border: 1px black solid;
  background-color: rgb(83, 83, 214);
}
.tray button:hover {
  background-color: rgb(49, 50, 40);
}
.tray button:active {
  opacity: 0.8;
}

.table {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 93vh;
  width: 100vw;
}

.icon {
  width: 100px;
  height: 100px;
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 50px;
  align-items: center;
  justify-content: center;
  user-select: none;
  flex-direction: column;
}

.icon input {
  text-align: center;
  width: 100px;
  background-color: transparent;
  border: 0;
}

.draggableItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.trayIcons {
  padding-left: 40px;
}

.menuClose button {
  display: none;
}

.menuOpen {
  background-color: rgb(151, 66, 231);
  grid-row: 4/11;
  grid-column: 1/4;
  padding-bottom: 30px;
  display: flex;
  align-items: end;
  justify-content: space-around;
}
.menuOpen .turnOff {
  padding: 0;
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgb(96, 96, 231);
  cursor: pointer;
  border-radius: 50px;
}
.menuOpen .turnOff img {
  margin: 0;
  width: 100%;
  height: 100%;
}
.menuOpen .turnOff:hover {
  background-color: rgb(100, 98, 250);
}

.turnOn .turnOnbtn {
  display: none;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: white;
  cursor: pointer;
  border-radius: 50px;
}

@keyframes blink {
  0%, 100% {
    background-color: black;
  }
  50% {
    background-color: white;
  }
}
#turnOnbtn {
  background-color: #8EDDBE;
  color: white;
  animation: blink 3s linear infinite;
}

.timestamps {
  padding-right: 50px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: end;
}

.context-menu-holder{
  display: none;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  z-index: 100000;
  position: absolute;
}

.context-menu {
  text-align: center;
  background: rgb(255, 249, 244);
  border: 1px solid black;
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding: 10px;
}

.context-menu:hover {
  background: rgb(255, 243, 210);
}

.app-background {
  background-color: rgb(58, 49, 66);
  width: 600px;
  height: 400px;
  position: absolute;
  color: white ;
  z-index: 1000;
  flex-direction: column;
  width: 100;
  user-select: none;
  border-radius: 8px;
  border: 1px solid black;
  display: inline-block;
  overflow: hidden;
}

.folder_item{
  overflow: scroll;
  height: calc(100% - 26px); 
  max-width: 100%; 
}

.folder_item > p{
  margin: 0;
  padding: 5px;
  padding-top: 10px;
  height: 20px;
  display: flex;
  top: 0;
  flex-direction: column;
  
}

.folder_item>p:hover{
  background-color: rgb(83, 83, 214);
}

.app-background-name{
  border-radius: 8px;
  height: 40px;
  display: flex;
  align-items: center;
}

.app-background-name p{
  width: 100%;
  padding: 15px ;
  margin: 0;
}

.app-background-name i{
  margin-left: 10px ;
  float: right;
  cursor: pointer;
}

.app-background hr{
  margin: 0;
}

.popup {
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  min-height: 150px;
  min-width: 300px;
  max-height: 300px;
  max-width: 600px;
}

.app-background .resizer {
  width: 5px;
  height: 5px;
  background: transparent;
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.app-background .resizer-right, .app-background .resizer-left {
  height: 100%;
  width: 5px;
}

.app-background .resizer-bottom {
  width: 100%;
  height: 5px;
}

.app-background .resizer-right {
  right: 0;
  cursor: e-resize;
}

.app-background .resizer-left {
  left: 0;
  cursor: e-resize;
}

.app-background .resizer-bottom {
  cursor: n-resize;
}

.app-background .resizer-right-corner {
  right: 0;
  cursor: nw-resize;
}

.app-background .resizer-left-corner {
  left: 0;
  cursor: ne-resize;
}

.app-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

.image-in-app {
  width: auto;
  height: calc(100% - 40px);
  object-fit: contain;
  object-position: center;
}

img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
 }

.aktiv{
  position: fixed;
  bottom: 100px;
  right: 100px;
}
.aktiv>p{
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #111; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #202020; 
}

#iconaktiv{
  border: pink 1px solid;
}

.notepad{
  margin: 0 auto;
  padding: 0px;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 14px;
  color: #000;
  line-height: 1.5;
}

.neve{
  margin: 0 0;
}

.sor{
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #888888;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;

}

.notepad_button{
  border: none;
  color: #000;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 2px 0px 2px;
  cursor: pointer;
}

.notepad p{
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #000;
  line-height: 1.5;
  overflow: auto;
}

textarea{
  position: absolute;
  width: 100%;
  height: calc(100% - 68px);
  border: none;
  background-color: #fffcf3;
  font-size: 14px;
  color: #000;
  line-height: 1.5;
  resize: none;
}

.file{
  display: none;
  background-color: #dadada;
  padding: 0px 5px 0px 5px;
  z-index: 10000;
}

.file>p>button{
  background-color: #dadada;
}

.file>p>button:hover{
  background-color: #d3d0d0;
}

textarea:focus{
  outline: none;
}

.notepad_img{
  padding: 0;
  margin: 1px 0px -5px 1px;
  width: 20px;
  height: 20px;
}

.mentes{
  display: none;
  margin: 0 auto;
  flex-direction: column;
  width: 20%;
  position: fixed;
  
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkgray;
}

.mentes>p{
  padding-left: 1px;
}

.activateDiv{
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s, visibility 0s 2s; 
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 2s;
}

.keppp{
  max-width: 90vw;
  position:fixed;
  bottom:0px;
  margin: 0 auto;
}